<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.restaurant.dao.UserpasswordMapper">
  <resultMap id="BaseResultMap" type="com.test.restaurant.bean.Userpassword">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userID" jdbcType="INTEGER" property="userid" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userID, password
  </sql>
  
  <select id="selectByUserID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userpassword
    where userID = #{userID,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from userpassword
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from userpassword
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByUserID" parameterType="java.lang.Integer">
  	delete from userpassword
  	where userID=#{userid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.test.restaurant.bean.Userpassword">
    insert into userpassword (id, userID, password
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.test.restaurant.bean.Userpassword">
    insert into userpassword
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
    <update id="updateByPrimaryKeySelective" parameterType="com.test.restaurant.bean.Userpassword">
    update userpassword
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where userID = #{userid,jdbcType=INTEGER}
  </update>
  

  <update id="updateByPrimaryKey" parameterType="com.test.restaurant.bean.Userpassword">
    update userpassword
    set userID = #{userid,jdbcType=INTEGER},
    password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
</mapper>