<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.restaurant.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.test.restaurant.bean.User">
    <id column="userID" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="addreess" jdbcType="VARCHAR" property="addreess" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
  </resultMap>
  <sql id="Base_Column_List">
    userID, username, sex, telephone, email, addreess, addtime, status, salary
  </sql>
  <select id="queryuser" resultMap="BaseResultMap">
  	select * from user
  </select>
  
  <select id="getuserbyid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  		select * from user
  		where userID = #{userid,jdbcType=INTEGER}
  </select>
  
  <select id="getuserquery" resultMap="BaseResultMap" parameterType="java.lang.String">
  		select * from user
  		where username like #{username,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByTelephone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where telephone = #{telephone,jdbcType=VARCHAR}
  </select>
  <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where email = #{email,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where userID = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userID = #{userid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.test.restaurant.bean.User">
    insert into user (username, email)
    values (#{username,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.test.restaurant.bean.User" keyProperty="userid" useGeneratedKeys="true">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userID,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="addreess != null">
        addreess,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="salary != null">
        salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="addreess != null">
        #{addreess,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.restaurant.bean.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="addreess != null">
        addreess = #{addreess,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=DECIMAL},
      </if>
    </set>
    where userID = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.restaurant.bean.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      addreess = #{addreess,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      salary = #{salary,jdbcType=DECIMAL}
    where userID = #{userid,jdbcType=INTEGER}
  </update>
</mapper>